@font-face {
    font-family: 'ashgar_el-kharefregular';
    src: url('/assets/fonts/webfontkit-20221208-102519/abdoullah_ashgar_el-kharef_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20221208-102519/abdoullah_ashgar_el-kharef_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulishextralight';
    src: url('/assets/fonts/webfontkit-20221208-102519/mulish-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20221208-102519/mulish-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}